<h2>Products</h2>

<!-- Iterate through each product in the list -->
<div *ngFor="let product of products">
    <h3>    
        <!--Using the a tag makes every product a link
        We then use property binding and set the title to the product's name -->
        <a [title]="product.name + ' details'">
            <!--We use string interpolation here-->
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
    </app-product-alerts>
    
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->